.heading{
margin-left:20%;
width:60%;
color:#2874A6;
text-align:center;
font-size:50px;
font-family: 'Lato', sans-serif;
font-weight:bold;
padding-top:2%;
margin-top:0px;
padding-bottom:1%;
margin-bottom:0px;
letter-spacing:2px;
box-shadow: 10px 10px 10px #EAF2F8;
}
#total{
background-color:#EAF2F8;
height:60px;
border:none;
}
.name{
float:left;
padding-top:10px;
padding-left:2%;
}
.user{
float:right;
padding-top:1.5%;
padding-right:2%;

}
a:link{
text-decoration:none;
}
.SignIn{
color:#138D75;
font-size:15px;
font-weight:bold;
}
.Register{
color:#138D75;
font-weight:bold;
margin-top:5px;
}
.website{
font-size:30px
}
nav{
margin-top:0px;
margin-bottom:2%;
padding-top:2%;
text-align:center;
font-weight:bold;
 font-family: 'Lato', sans-serif;
}
nav a{
	position:static;
	left:40px;
    text-decoration:none;
    font-size:15px;
    display: inline-block;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
	color:#27AE60;
}
.name{
font-size:15px;
color:#138D75;
}
div.list1{
float:left;
}

div.list3{
float:right;
position:relative;
bottom:4px;
}

center{
color:#566573;
}
.subtitle{
text-align:center;
margin-top:3%;
color:#808B96;
 text-transform:uppercase;
 font-family: 'Lato', sans-serif;
 letter-spacing:1px;
 font-size:12px;
}