<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sample</display-name>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pub</servlet-name>
    <servlet-class>com.collegefests.Publish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pub</servlet-name>
    <url-pattern>/Publish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retriver</servlet-name>
    <servlet-class>ImgRetriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retriver</servlet-name>
    <url-pattern>/ret</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retriver1</servlet-name>
    <servlet-class>Publishimg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retriver1</servlet-name>
    <url-pattern>/img</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retriver3</servlet-name>
    <servlet-class>eventPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retriver3</servlet-name>
    <url-pattern>/ret3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retriver4</servlet-name>
    <servlet-class>EventRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retriver4</servlet-name>
    <url-pattern>/ret4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>serv</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>PublishCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/publishcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gohome</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gohome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>